@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
    font-family: "Josefin Sans", sans-serif;
}
/* TelaInicial */
devbank-title {
    letter-spacing: 2px;
}
input_custom {
    font-weight: 500;
}
bnt-custom {
    font-weight: 500;
}